<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Decouvelaere Frigos à Patates{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
  
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="css/styles.css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        {% endblock %}

        
    </head>
    <body>
    {% block body %}
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light"><strong><a class="nav-link text-dark" href="{{ path('index')}}">EARL Decouvelaere</a></strong></div>
                <div class="list-group list-group-flush">
                    <a href="{{ path('liste_frigos') }}"class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Frigos</a>
                    <a href="{{ path('liste_varietes') }}"class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Varietes</a>
                    <a href="{{ path('liste_producteurs') }}"class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Producteurs</a>
                    <a href="{{ path('calibre') }}" class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Calibres</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="{{ path('index')}}">Accueil</a></li>
                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navigation</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('liste_frigos') }}">Frigos</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('liste_varietes') }}">Variétés</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('liste_producteurs') }}">Producteurs</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('calibre') }}">Calibres</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% block content %}
                <!-- Page content-->
               
            </div>
        </div>
        {% endblock %}
        {% endblock %}
        
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        
        <script src="js/jquery.csv.min.js"></script>
        <!-- Search: -->
      
        
        <script src="js/csv_to_html_table.js"></script>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        
        
        {% endblock %}
    </body>
</html>
