{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Frigos{% endblock %}

{% block stylesheets %}
       {{parent()}}   
        {% endblock %}



{% block content %}
    <div class="container-fluid">
        <main class="row">
            <div class="col">
                <h1 class="text-center" >Frigo 3</h1>

                <div id="table-container"></div>
                

            </div>
        </main>
        <footer class="row">
            <div class="col">
                <hr>
            </div>
            <button onclick="recupDonnees()">Valider les modification</button>
            <button onclick="viderCsv()">Vider et valider les changement</button>
        </footer>
    </div>

    
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="changeVariete" >
        <select name="selectionVariete" id="selectionVariete" class="form-select">
        <script>var couleurVarietes = {};</script>
        {% for variete in varietes %}
        <script> couleurVarietes["{{variete.nom}}"]= '{{variete.couleur}}' </script>
          <option value="{{variete.nom}}">{{variete.nom}}</option>
          {% endfor %}
        </select>
      </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" onclick="changementVariete(document.getElementById('selectionVariete').value)" data-dismiss="modal">Confirmer les changements</button>
      </div>
    </div>
  </div>
</div>
        
   {% endblock %}
   
    {% block javascripts %}
    
	{{parent()}}
    <script>
    

var celluleAChanger = "";
var tailleTableau = 0; 

   
 
        function format_link(link) {
            if (link)
                return "<a href='" + link + "' target='_blank'>" + link + "</a>";
            else return "";
        }
        
        CsvToHtmlTable.init({
            csv_path: "csv/demo.csv",
            element: "table-container",
            allow_download: false,
            csv_options: {
                separator: ";",
                delimiter: '"'
            },
            datatables_options: {
                paging: false
            },
           
        });
  
    


function changementVariete(nouvelleValeur){
        document.getElementById(celluleAChanger).innerHTML = nouvelleValeur;
        document.getElementById(celluleAChanger).style.background = couleurVarietes[nouvelleValeur];
        
}
function variete(id){
      
         
        celluleAChanger= id;
        console.log(celluleAChanger);
        }
        
    
        function recupDonnees() {
            
            var tableauResult = [];
            console.log($("table > tbody > tr").length);
            console.log($("table > tbody > tr:first > td").length);
            for (let i = 0; i <= $("table > tbody > tr").length; i++) {
                 var monTableau = [];
                
                 for (let a = 0; a < $("table > tbody > tr:first > td").length; a++) {
                
                    monTableau.push(document.getElementsByTagName('table')[0].getElementsByTagName('tr')[i].cells[a].innerHTML) ;

        }
           tableauResult.push(monTableau)
        }
        console.log(tableauResult);
        //{{app.request.get('id')}}
        $.ajax({
            type    : 'POST',
            url     : "{{ path('test') }}",
            traditional: true,
            data    : {result:JSON.stringify(tableauResult)},
            success : function(response) {
              
    }        
        });
        
         }
    function viderCsv() {
            
            var tableauResult = [];
              console.log($("table > tbody > tr").length);
              console.log($("table > tbody > tr:first > td").length);
            for (let i = 0; i < $("table > tbody > tr").length; i++) {
                 var monTableau = [];
                
                 for (let a = 0; a < $("table > tbody > tr:first > td").length; a++) {
                    if(i == 0){
                         monTableau.push(document.getElementsByTagName('table')[0].getElementsByTagName('tr')[i].cells[a].innerHTML) ;
                    }else{
                     monTableau.push("") ;

                    }
                   
        console.log(monTableau);
        }
           tableauResult.push(monTableau)
        }
        console.log(tableauResult);
        //{{app.request.get('id')}}
        $.ajax({
            type    : 'POST',
            url     : "{{ path('test') }}",
            traditional: true,
            data    : {result:JSON.stringify(tableauResult)},
            success : function(response) {
            
    }        
        });
      
        }


        
    </script>
    
    <script type="text/javascript">
     
       
      function toggle(classItem){
    for(i = 0 ; i <document.getElementsByClassName(classItem).length ; i++)
    {
        if(document.getElementsByClassName(classItem)[i].style.display=='none'){
            document.getElementsByClassName(classItem)[i].style.display='';
        }
        else{
            document.getElementsByClassName(classItem)[i].style.display='none';
        }
}


}
    







$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

    </script>




	{% endblock %}
